<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<script type="text/javascript" src="<%=queenbridgeUrl%>/js/pixi.min.js"></script>
	<script type="text/javascript" src="<%=queenbridgeUrl%>/js/socket.io.dev.js"></script>
	<script type="text/javascript" src="<%=queenbridgeUrl%>/js/queenbridge.js"></script>
</head>
<body bgcolor="#000000" style='overflow: hidden'>
	<script>
		let queenbridgeUrl="<%=queenbridgeUrl%>";
		let brasletColor="<%=brasletColor%>";
	</script>
	<script type="text/javascript" src="js/timebraslet.js"></script>
</body>
</html>
